@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  /* background: url(./images/fondo4.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Belanosima", sans-serif;

  overflow: hidden;
}

.banner {
  margin: 2rem;

  padding: 2rem;
  height: 400px;
  background-image: url("./src/assets/images/rectangle1.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > h1 {
  padding: 0.5rem;
  text-align: center;
  max-width: 50%;
  max-height: 79%;
  font-size: 3vw;
  margin: 0 auto;
}

article {
  margin-top: 3rem;
  height: calc(100% - 500px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn_container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  font-size: 2vw;
}

button {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: 0.3s;
  box-shadow: 10px 10px 26px -7px rgba(0, 0, 0, 0.75);
}

button:active {
  background-color: lightslategray;
  transform: translate(2px, 2px);
  box-shadow: 5px 5px 13px -3.5px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 900px) {
  .banner > h1 {
    text-align: center;
    max-width: 69%;
    max-height: 75%;
    font-size: 4vw;
    margin: 0 auto;
  }
  .btn_container {
    margin-top: 1rem;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    
  }

  .btn_container:hover {
    margin-top: 1rem;
  }
}

.fade-enter {
  opacity: 0;
  transform: scale(0.5);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms cubic-bezier(0.5, -0.6, 0.5, 1.6);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 500ms, transform 500ms cubic-bezier(0.5, -0.6, 0.5, 1.6);
}

.fade-rebound {
  transform: scale(0.5);
  transition: transform 250ms ease-in-out;
}

.fade-rebound-active {
  transform: scale(0.6);
  transition: transform 250ms ease-in-out;
}


.image-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: move 5s infinite;
}
.image-container > .cokie1 {
  width: 10rem;
  height: 10rem;
  transform: scaleY(-1);
  animation: moveRandom1 100s infinite;
}

@keyframes moveRandom1 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }
  20% {
    transform: translate(calc(100vw - 100px), 0);
  }
  30% {
    transform: translate(0, calc(100vh - 100px));
  }
  40% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }
  50% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(calc(100vw - 100px), 0);
  }
  70% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }
  80% {
    transform: translate(0, calc(100vh - 100px));
  }
  90% {
    transform: translate(calc(100vw - 100px), 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.image-container > .cokie2 {
  width: 10rem;
  height: 10rem;
  transform: scaleY(-1);
  animation: moveRandom2 100s infinite;
}

@keyframes moveRandom2 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(calc(50vw - 50px), calc(50vh - 50px));
  }
  20% {
    transform: translate(calc(25vw - 25px), calc(75vh - 75px));
  }
  30% {
    transform: translate(calc(75vw - 75px), calc(25vh - 25px));
  }
  40% {
    transform: translate(calc(80vw - 80px), calc(80vh - 80px));
  }
  50% {
    transform: translate(calc(20vw - 20px), calc(20vh - 20px));
  }
  60% {
    transform: translate(calc(60vw - 60px), calc(40vh - 40px));
  }
  70% {
    transform: translate(calc(40vw - 40px), calc(60vh - 60px));
  }
  80% {
    transform: translate(calc(70vw - 70px), calc(30vh - 30px));
  }
  90% {
    transform: translate(calc(30vw - 30px), calc(70vh - 70px));
  }
  100% {
    transform: translate(0, 0);
  }
}

.image-container > .cokie3 {
  width: 10rem;
  height: 10rem;
  transform: scaleY(-1);
  animation: moveRandom3 100s infinite;
}

@keyframes moveRandom3 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(calc(60vw - 90px), calc(20vh - 30px));
  }
  20% {
    transform: translate(calc(80vw - 120px), calc(80vh - 120px));
  }
  30% {
    transform: translate(calc(40vw - 60px), calc(40vh - 60px));
  }
  40% {
    transform: translate(calc(20vw - 30px), calc(70vh - 105px));
  }
  50% {
    transform: translate(calc(50vw - 75px), calc(50vh - 75px));
  }
  60% {
    transform: translate(calc(70vw - 105px), calc(30vh - 45px));
  }
  70% {
    transform: translate(calc(10vw - 15px), calc(90vh - 135px));
  }
  80% {
    transform: translate(calc(90vw - 135px), calc(10vh - 15px));
  }
  90% {
    transform: translate(calc(30vw - 45px), calc(60vh - 90px));
  }
  100% {
    transform: translate(0, 0);
  }
}

@media only screen and (min-width: 900px) {
  .btn_container {
    margin-top: 10rem;
    transition: 0.3s;
  }

  .btn_container:hover {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 800px) {
  .banner > h1 {
    text-align: center;
    max-width: 69%;
    max-height: 75%;
    font-size: 3.8vw;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 648px) {
  .banner > h1 {
    text-align: center;
    max-width: 100%;
    max-height: 75%;
    font-size: 3.5vw;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 440px) {
  .banner > h1 {
    text-align: center;
    max-width: 100%;
    max-height: 75%;
    font-size: 4vw;
    margin: 0 auto;
  }
}

/* .banner > img {
  max-width: 100%;
}
.banner > p {
  position: absolute;
  top: 50%;
  left: 50%;
} */
